@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700;900&display=swap");

:root {
  --primary-blue: #7cabd3;
  --primary-dark: #1a2b49;
  --accent-yellow: #fce297;
  --bg-cream: #fffff6;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: var(--bg-cream);
  color: var(--primary-dark);
}

.transition-custom {
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.service-card:hover {
  transform: translateY(-5px);
}

.btn-login {
  background-color: var(--primary-blue) !important;
  color: #7cabd3 !important;
  border-radius: 5%;
}
