/* Importation de la police d'écriture */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700;900&display=swap");

:root {
  --primary-blue: #7cabd3;
  --primary-dark: #1a2b49;
  --accent-yellow: #fce297;
  --bg-cream: #fffff6;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: var(--bg-cream);
  color: var(--primary-dark);
}

/* Utilitaires personnalisés pour les transitions */
.transition-custom {
  transition: all 0.3s ease-in-out;
}

/* Effet spécifique pour tes boutons de navigation */
.btn-nav-logic {
  transition: all 0.3s ease-in-out;
}

/* Gestion du scroll fluide pour les ancres (#services) */
html {
  scroll-behavior: smooth;
}

/* Style pour les cartes de services au survol */
.service-card:hover {
  transform: translateY(-5px);
}
